@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .section {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5vw 2vw;
    padding-bottom: 0;
  }
  .section .account {
    position: relative;
    display: flex;
    justify-content: right;
    width: 9vw;
    height: fit-content;
    padding: 0 2vw;
  }

  .section button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 50%;
    height: 50%;
  }
  .section button img {
    width: 100%;
  }

  .section button:hover img {
    filter: contrast(20%);
  }

  .header {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 2vw;
  }
  .header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .header div img {
    width: 8vw;
  }
  .header div p {
    margin: 0;
    width: 50%;
    font-size: 3vw;
    font-weight: bold;
  }
  .header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
  }
  .header nav .menu {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 50vw;
    overflow: hidden;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: 5vw;
  }
  .content .text h1 {
    font-size: 5vw;
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 1.8vw;
    padding: 0 4%;
  }

  .vestiNastani {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0;
    margin: auto;
  }
  .vestiNastani h1 {
    font-size: 4vw;
  }
  .vestiNastani div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
    height: fit-content;
  }

  .vestiNastani div .vestNastan {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    border: 1px solid black;
    margin: 1% 0;
    flex: 0 0 30%;
  }
  .vestiNastani div .vestNastan .slika {
    align-items: flex-start;
    width: 100%;
  }
  .vestiNastani div .vestNastan .slika img {
    width: 100%;
  }
  .vestiNastani div .vestNastan .naslov {
    justify-content: left;
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    padding: 3%;
    cursor: pointer;
  }
  .vestiNastani div .vestNastan .naslov:hover {
    text-decoration: underline;
  }
  .vestiNastani div .vestNastan .objaveno {
    justify-content: left;
    font-size: 1.2vw;
    width: 100%;
    color: rgb(102, 102, 102);
    margin-bottom: 2%;
    align-items: center;
  }
  .vestiNastani div .vestNastan .objaveno svg {
    width: 30px;
    height: 30px;
    margin: 0 2%;
  }
  .vestiNastani .povekje {
    height: fit-content;
  }
  .vestiNastani .povekje button {
    border: 0;
    background-color: rgb(8, 80, 109);
    color: white;
    font-size: 2vw;
    padding: 1vw 3vw;
    border-radius: 2vw;
    cursor: pointer;
  }
  .vestiNastani .povekje button:hover {
    background-color: rgb(0, 70, 95);
  }
  .socialLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 1%;
    justify-content: space-evenly;
    align-items: center;
    height: 14vw;
  }

  .socialLinks a {
    width: 2.5vw;
    color: black;
    overflow: hidden;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5%;
  }
  .footer .adresa {
    width: 45%;
    display: flex;
  }
  .footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  .footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    font-size: 1.3vw;
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
  }
  .footer .contact {
    margin: auto;
    width: 55%;
  }
  .footer .contact form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }
  .footer .contact input,
  .footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 100%;
    outline: 0;
  }

  .footer .contact input:hover,
  .footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  .footer .contact p {
    color: gray;
    font-size: 18px;
  }

  .footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 20px;
    margin: 5% 50%;
    transform: translateX(-50%);
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
  .header nav #navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 90%;
  }
  .header nav #navigation .mobile {
    display: none;
  }
  .header nav #navigation .center {
    width: inherit;
  }
  .header nav #navigation a:hover {
    color: rgb(24, 75, 184);
  }
  .header nav #navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 0px 5px;
  }
  .gimnazijaInfo {
    width: 100%;
    margin: auto;
  }
  .gimnazijaInfo img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  .gimnazijaInfo p {
    text-align: justify;
    font-size: 1.2vw;
    padding: 0 5%;
  }
  .gimnazijaInfo p i {
    font-size: 1.3vw;
  }
  .gimnazijaInfo p b {
    font-size: 1.8vw;
  }

  .vraboteni {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .vraboten {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 234, 234);
    padding: 2% 1%;
    flex: 0 0 18%;
  }
  .vraboteni .vraboten p {
    font-size: 1.2vw;
    margin: 3% 0;
  }
  .vraboteni .vraboten :nth-child(1 of p) {
    font-weight: bold;
  }
  .vraboteni .vraboten :nth-child(2 of p) {
    font-style: italic;
  }
  .vraboteni .vraboten img {
    margin-bottom: 3%;
    width: 15vw;
  }
  #accountDropdown {
    position: absolute;
    display: flex;
    width: 15vw;
    height: 30vw;
    background-color: rgba(0, 70, 95, 0.7);
    backdrop-filter: blur(10px);
    right: 1vw;
    border-radius: 0 0 2vw 2vw;
    z-index: 100;
  }
  #accountDropdown .options {
    display: inherit;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #accountDropdown .options a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 70%;
  }
  .notifikacii {
    width: 100vw;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .notifikacija {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 2%;
  }
  .notifikacija .left {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1% 0 0 2%;
  }
  .notifikacija .left .tekst {
    width: 95%;
  }
  .notifikacija .left .pratena {
    width: 100%;
    padding: 1% 0 0.5%;
  }
  .notifikacija .left .pratena p {
    margin: 0;
    color: gray;
    font-size: 1.4vw;
  }

  .notifikacija .right .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .notifikacija .right .delete a {
    color: darkred;
    font-size: 2vw;
  }
  .notifikacija .right .delete a:hover {
    font-size: 2.3vw;
  }
  .notifikacija .right {
    display: flex;
    align-items: center;
    width: 5%;
  }
}
